* {
    font-family: "Calibri";
}

/* Board */

table#board {
    float: left;
}

#board tr.row {
    width: 200px;
}

#board td.col {
    width: 15px;
    height: 15px;
    outline: solid 1px black;
    padding: 3px 3px;
}

#board td.x {
    background: url(img/cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#board td.o {
    background: url(img/circle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#board td.wincol {
    background-color: greenyellow;
}

/* Stats */

div#stats {
    display: inline-block;
    margin-left: 5px;
}

/* Moves */

table.moves {
    border-collapse: collapse;
}

table.moves tr {
    border: solid 1px black;
    text-align: center;
}

table.moves td, table.moves th {
    border: solid 1px black;
    text-align: center;
    padding: 3px;
}

table.moves tr.winmove {
    font-weight: bold;
    background-color: greenyellow;
}

table.moves td.player {
    font-weight: bold;
    text-transform: uppercase;
}

/* Current player */

span.cp {
    font-weight: bold;
    text-transform: uppercase;
}

span.x, td.x {
    color: #2779D9;
}

span.o, td.o {
    color: red;
}

/* Controls */

input#console {
    width: 20rem;
}

div.console {
    margin: 10px;
}